*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
header{
	width: 100%;
	height: 80px;
	background-color: rgba(39, 146, 228, 0.5);
	position: fixed;
}
.cab_nav{
	width: 100%;
	padding: 20px;
	text-align: right;
	position: fixed;
	top: 0px;
}
.cab_nav ul li{
	list-style: none;
	display: inline-block;
	padding: 10px 50px;
	color: white;
	font-size: 20px;
	font-family: sans-serif;
	cursor: pointer;
}
.cab_nav ul li a{
	text-decoration: none;
	color: white;
}
.nomb_logo{
	width: 330px;
	padding: 0px 20px;
	float: left;
	position: relative;
	top: 5%;
	left: 2%;
	color: #fff;
	font-size: 30px;
}
.logo_img{
	width: 120px;
	position: absolute;
	top: -26px;
	left: 20px;
}

.fondo_p{
	width: 100%;
	height: 100vh;
	background: url(../FOT/9.png);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}
.fondo_p h1{
	font-size: 30px;
	color: rgb(250, 243, 243);
	

}

.seccion_f{
	max-width: 1100px;
	width: 90%;
	overflow: hidden;
	margin: auto;
	color: #000;
	padding: 20px 0px;
}
.seccion{
	background: url(../FOT/10.jpg);
	width: 100%;
	height: 110vh;
	background-position: center;
	position: center;
	background-size: cover;
	background-attachment: fixed;
	justify-content: center;
	align-items: center;
}
.seccion h2, .seccion_1 h2, .seccion_2 h2{
	font-size: 60px;
	text-align: center;
	padding: 400px 0px;
	color: #fff;	
}
.titulos{
	font-size: 35px;
	text-align: center;
	padding: 60px 0px;
}
.parrafos{
	font-size: 20px;
	padding: 20px;
	text-align: justify;

}

/*Replicas*/
.seccion_1{
	background: url(../FOT/11.jpg);
	width: 100%;
	height: 110vh;
	background-position: center;
	position: center;
	background-size: cover;
	background-attachment: fixed;
	justify-content: center;
	align-items: center;
}
.seccion_2{
	background: url(../FOT/12.jpg);
	width: 100%;
	height: 110vh;
	background-position: center;
	position: center;
	background-size: cover;
	background-attachment: fixed;
	justify-content: center;
	align-items: center;
}


.foot{
	background-color: rgba(0, 0, 0, 1);
	margin-top: 0%;
	width: 100%;
	padding: 20px 0px;
	position: relative;
}
.foot_p{
	color: #fff;
	text-align: center;
}
.marca{
	background-color: rgba(21, 88, 230, .5);
}

#bar, .icon-menu {
	display: none;
}

@media screen and (max-width:1000px){
	#bar {
		width: 100%;
		height: 70%;
		position: fixed;
		top: 0;
		background: #000;
		z-index: 10000;
		display: none;
	}
	.icon-menu{
		display:block;
		color: #fff;
		font-size: 30px;
		left: 20px;
		margin-top: 18px;
		position: absolute;
		z-index: 1000000;
	}
	header{
		height: 70px;
		position: fixed;
		width: 100%;
		background-color: rgba(21, 9, 17, 1);
		top: 0px;
		z-index: 10;

	}
	.cab_nav{
		width: 70%;
		height: 100%;
		position: fixed;
		margin: 0;
		transform: translateX(-100%);
		background-color:rgba(21, 19, 17, 1);
		transition: all 0.7s ease-in;	
	}
	.logo_img{
		display: none;

	}
	.nomb_logo{
		display:none;
	}
	.tit{
		color: #fff;
		text-decoration: none;
		padding: 0px 35% ;
		position: fixed;
	}

    header .cab_nav ul li{
		display: block;
		border-bottom: 1px solid rgba(225, 225, 255, 0.5);
		padding: 10px 0px;
		width: 100%;
		text-align: center;
		margin-top: 20%;
	}

	#bar:checked ~ .cab_nav{
		transform: translateX(0%);
		transition: all 1.0s ease-out;
		background-color: rgba(29, 25, 29, 1);
	}
}